body {
  margin: 0;
  font-family: "Rubik";
}

h1 {
  font-size: 46px;
  color: lightgray;
}

a {
  font-size: 26px;
  text-decoration: none;
  color: bisque;
  padding-top: 15px;
}

.header-links {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  padding-right: 15px;
}

nav a+a::before { 
  content: '|';
  padding-left: 0px;
  padding-right: 20px;
}

@media (max-width: 687px){
  nav a+a::before {
    content: none;
  }
}

a:hover {
  color: lightgray;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  background-image: url('./images/bagels-on-wood.jpg');
  height: 752px;
  background-size: cover;
}

/* Home Page styling */

.story-container {
  display: flex;
  flex-direction: column;
  color: lightgrey;
  width: 50%;
  padding: 25px;
  margin: 25px;
  background-color: hsla(0, 0%, 0%, .3);
}

.story-container p {
  text-align: center;
  width: 50%;
  padding-left: 25%;
}

h2 {
  font-size: 35px;
  text-align: center;
}

h3 {
  text-align: center;
}

main a {
  width: 50%;
  margin: 25px;
  text-align: center;
  font-size: 30px;
}

/* All Bagels */
.all-bagels {
  background-image: url('./images/bagels-on-wood.jpg');
  background-size: cover;
}

.all-bagels h2 {
  color: lightgray;
  margin-top: 0px;
  padding-top: 35px;
}

.all-bagles-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.all-bagles-main a {
  margin: 10px;
  padding: 25px;
  background-color: hsla(0, 0%, 0%, .5);
  border: 1px lightgray solid;
  border-radius: 5px;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.search-bar input {
  height: 30px;
  width: 40%;
  margin-bottom: 10px;
  background-color: lightgray;
}

/* Single Bagel */

.one-bagel {
  background-image: url('./images/bagels-on-wood.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.one-bagel-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  background-color: hsla(0, 0%, 0%, .5);
  border: 1px lightgray solid;
  border-radius: 5px;
}

.one-bagel-main h2, .one-bagel-main h3, .one-bagel-main p {
  color: bisque;
  text-align: center;
}

.add-to-cart {
  height: 30px;
  width: 40%;
  background-color: bisque;
  margin-bottom: 33px;
}

/* Login Page */

.login-page {
  background-image: url('./images/bagels-on-wood.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.login-page h2 {
  color: lightgray;
  font-size: 2.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 325px;
  background-color: hsla(0, 0%, 0%, .5);
  border: 1px lightgray solid;
  border-radius: 5px;
  padding: 15px;
}

.login-form input {
  height: 30px;
  width: 80%;
  margin-bottom: 10px;
  background-color: lightgray;
}

.login-form button {
  height: 30px;
  width: 40%;
  background-color: bisque;
  margin-bottom: 33px;
}

.login-form button:hover {
  background-color: rgb(172, 153, 130);
}

.login-form p {
  color: red;
}

/* Register Page */

.register-page {
  background-image: url('./images/bagels-on-wood.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 325px;
  background-color: hsla(0, 0%, 0%, .5);
  border: 1px lightgray solid;
  border-radius: 5px;
  padding: 15px;
}

.register-form input {
  height: 30px;
  width: 80%;
  margin-bottom: 10px;
  background-color: lightgray;
}

.register-form button {
  height: 30px;
  width: 40%;
  background-color: bisque;
  margin-bottom: 33px;
}

.register-form button:hover {
  background-color: rgb(172, 153, 130);
}

.register-form h2, .register-form h3 {
  color: lightgray;
}

/* Shopping Cart */

.cart-container {
  position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #00000095;
	z-index: 10;
}

.items-container {
  width: 60%;
	height: 90%;
	margin: 2rem auto;
	background-color: #eee;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	position: relative;
  overflow: scroll;
}

.items-container h2 {
  color: rgb(109, 108, 108);
}

.items-container button {
  border: none;
  font-size: 16px;
}

.items-container button:hover {
  color: rgb(249, 208, 157);
}

.cart-bagel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(0, 0%, 0%, .5);
  border: 1px black solid;
  padding: 10px;
  margin-top: 10px;
}

/* Footer */

footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

footer h3 {
  color: lightgray;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}